<div>
    <div>
        <h5>All Items</h5>
        <div>
            <input type="text" id="textValue" name="name" value="" />
            <input type="button" name="btnGetValue" value="Get Value" onclick="btnGetValue_click()" />
            <input type="button" name="btnAddValue" value="Add Value" onclick="btnAddValue_click()" />
            <input type="button" name="btnEditValue" value="Edit Value" onclick="btnEditValue_click()" />
            <input type="button" name="btnDeleteValue" value="Delete Value" onclick="btnDeleteValue_click()" />

            <br />
            <span id="spnValue" style="color:blue;"></span>
            <br />
        </div>
        <ul id="items">
        </ul>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            //$.getJSON("/api/values/", function (data) {
            //    $.each(data, function (key, val) {
            //        $('#items').append('<li>' + val + '</li>');
            //    });
            //});
            getItems();
        });

        function getItems() {
            $.getJSON("/api/values/", function (data) {
                $.each(data, function (key, val) {
                    $('#items').append('<li>' + val + '</li>');
                });
            });
        }

        function btnGetValue_click() {
            var result = $.getJSON("/api/values/" + $("#textValue").val(), function (data) {
                $("#spnValue").text(data);
            });

            result.fail(function (err) {
                var message = err.responseJSON.ExceptionType + ": " + err.responseJSON.ExceptionMessage 
                alert(message);
            });
        }

        function btnAddValue_click() {
            var value = $('#textValue').val();

            $.ajax("/api/values/", {
                type: "POST",
                data: '=' + value,
                contentType: "application/x-www-form-urlencoded",
                dataType: 'JSON',
                success: function (data) {
                    alert('Added');
                    $('#items').html('');
                    getItems();
                }
            });
        }

        function btnEditValue_click() {
            var value = $('#textValue').val();

            $.ajax("/api/values/2", {
                type: "PUT",
                data: '=' + value,
                contentType: "application/x-www-form-urlencoded",
                dataType: 'JSON',
                success: function (data) {
                    alert('Updated');
                    $('#items').html('');
                    getItems();
                }
            });
        }

        function btnDeleteValue_click() {
            var index = $('#textValue').val();

            $.ajax("/api/values/" + index, {
                type: "DELETE",
                contentType: "application/x-www-form-urlencoded",
                dataType: 'JSON',
                success: function (data) {
                    alert('Deleted');
                    $('#items').html('');
                    getItems();
                }
            });
        }
    </script>
}